{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Where should we go?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="best" name="best"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="bars" name="bars"></div>
            </div>
        </div>
    </div>
    <script>
        'use strict';
        window.onload = function () {
            init()
        }
    </script>
{% endblock %}